<div class="answer">
  <div class="userDetail">
    <%= answer.user.email %>
    <br>
    <%= answer.content %>
    <br>
    <%if answer.user_id==current_user.id%>
    <%= link_to 'Edit', answer %>
    <%= link_to "Delete", answer, method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>

  </div>
</div>
